/*                                                                                       */
/*  This is only applicable to all-products.html                                         */
/*                                                                                       */

.add-option
{
    background: darkgreen;
    border: 2px solid black;
    border-radius: 50%;
    color:  white;
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    text-decoration: none;
    width: 30px;
}

.add-option:visited
{
    color: white;
}

.add-option:hover
{
    background: lightgreen;
}

/*  Style for the <form>                    */

form
{   background: white;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    padding: 10px;
    position: absolute;
    left: 10vw;
    width: 80vw;
    z-index: 99999;
}

.form-div
{   display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 25%;
    max-width: 200px;
}

.prod-name, .prod-loc
{   width: 40%;
    min-width: 250px;
}

.plan-qty
{   display: inline-block;
    text-align: right;
    width: 35px;
}

.plan-price
{   display: inline-block;
    text-align: right;
    width: 60px;
}

.prod-desc
{   width: 100%;
}
