/*                                                                                       */
/*  CSS that is applicable to all of the pages that make up this application             */
/*                                                                                       */

*
{   box-sizing: border-box;
}

:root
{   --bg-alternate: lightgrey;
    --bg-button: lightblue;
    --bg-hover: white;
    --bg-color: grey;
    --bg-footer: grey;
    --fg-button: black;
    --fg-color: black;
    --fg-footer: white;
}

body
{   color: var(--fg-color);
    font-family: sans-serif;
    /* font-size: 1vw; */
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

header
{   
    /* background: rgba(255,0,0,0.5); */
    margin: 0px;
    margin-bottom: 25px;
    padding: 10px;
    position: relative;
    width: 100%;
}

menu
{   
    /* background: rgba(0,255,255,0.5); */
    padding: 2px;
    position: absolute;
    right: 0px;
    top: -14px;
    width: 10vw;
}

.menu-item
{   
    /* background: rgba(255,0,255,0.5); */
    border: 1px solid black;
    display: block;
    margin: 2px;
    padding: 4px;
    text-align: right;
    width: 100%;
}

button
{   background: var(--bg-button);
    border: 1px solid var(--fg-button);
    border-radius: 5px;
    color: var(--fg-button);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0px;
    margin-left: 20px;
    text-align: center;
    width: 5vw;
}

button:hover
{   background: var(white);
}

main
{   
    /* background: rgba(0,255,0,0.5); */
    /* text-align: center; */
}

section
{   
    /* border: 1px solid black; */
    /* border-radius: 3px; */
    margin-bottom: 10px;
    width: 100%;
}

section .heading
{   background: var(--bg-footer);
    border: 1px solid black;
    border-radius: 3px;
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    width: 100%;
}

/*                                          */
/*  CSS style for the product items         */
/*                                          */

.product
{   display: flex;
    flex-direction: row;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.product.even
{   background: var(--bg-alternate);
}

.field.name
{   flex-shrink: 0;

}

.field.name
{   flex-grow: 1;
    flex-shrink: 1;

}

.field.label
{   margin-left: 20px;
}

.input.quantity
{   display: inline-block;
    text-align: right;
    margin-left: 3px;
    width: 35px;
}

.input.price
{   display: inline-block;
    text-align: right;
    margin-left: 3px;
    width: 60px;
}

/*                                          */
/*  CSS style for the sticky footer         */
/*                                          */

body, html
{   height: 100%;
    min-height: 100%;
}

.wrapper
{   
    /* background: rgba(0,0,255,0.5); */
    margin: 0px auto;
    margin-bottom: -50px;
    min-height: 100%;
    width: 95vw;
}

.push
{   
    /* background: rgba(255,255,0,0.5); */
    height: 50px;
    margin: 0px;
    text-align: center;
    width: 100%;
}

footer
{   background: var(--bg-footer);
    color: var(--fg-footer);
    height: 30px;
    margin: 0px auto;
    margin-top: 20px;
    padding: 10px;
    width: 95vw;
}

/*                                          */
/*  @media queries for responsive design    */
/*                                          */

/* @media screen and (max-width: 700px)
{   body
    {   font-size: 2vw;
    }
}

@media screen and (max-width: 500px)
{   .field.quantity, .field.price
    {   display: none;
    }
} */
