/*                                                                                       */
/*  CSS that is applicable to all of the pages that make up this application             */
/*                                                                                       */

*
{   box-sizing: border-box;
}

:root
{   --bg-alternate: lightgrey;
    --bg-button: lightblue;
    --bg-hover: white;
    --bg-color: grey;
    --bg-footer: grey;
    --fg-button: black;
    --fg-color: black;
    --fg-footer: white;
}

body
{   color: var(--fg-color);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

header
{   margin: 0px;
    /* margin-bottom: 25px; */
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    width: 100%;
}

menu
{   background: pink;
    border: 2px solid black;
    padding: 2px;
    position: absolute;
    right: 0px;
    text-align: right;
    top: 0px;
    width: 150px;
}

.option
{   border: 1px solid black;
    color: navy;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    margin: 1px;
    padding: 2px;
    text-align: right;
    text-decoration: none;
}

.option:hover
{   color: red;
}

.option:active
{   color: white;
}

/* button
{   background: var(--bg-button);
    border: 1px solid var(--fg-button);
    border-radius: 5px;
    color: var(--fg-button);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0px;
    margin-left: 20px;
    text-align: center;
    width: 5vw;
}

button:hover
{   background: var(white);
} */

/*                                          */
/*  Style for the modal window              */
/*                                          */

.modal
{   background: lightgray;
    border: 2px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100px;
    padding: 0px;
    position: absolute;
    left: 10vw;
    width: 80vw;
}

.modal-text
{   font-size: 12px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px;
}

.modal-buttons
{   flex-grow: 0;
    flex-shrink: 0;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.modal-option
{   border: none;
    display: inline-block;
    margin: 0px;
    margin-left: 20px;
}

/*                                          */
/*  Style for the <main> and children       */
/*                                          */

section
{   margin-bottom: 10px;
    width: 100%;
}

section .heading
{   background: var(--bg-footer);
    border: 1px solid black;
    border-radius: 3px;
    font-weight: bold;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    width: 100%;
}

/*                                          */
/*  CSS style for the product items         */
/*                                          */

.product
{   display: none;
    flex-direction: row;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.product.even
{   background: var(--bg-alternate);
}

.field.name
{   color: black;
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: bold;
    text-decoration: line-through;
}

.field.name:visited
{   color: black;
}

.field.name:hover
{   color: red;
}

.field.name.needed
{   text-decoration: none;
}

.field.label
{   margin-left: 20px;
}

.input.quantity
{   display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: right;
    margin-left: 3px;
    width: 35px;
}

.input.price
{   display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-align: right;
    margin-left: 3px;
    width: 60px;
}

.prod-button
{   position: relative;
}

.prod-button.delete
{   color: darkred;
    display: inline-block;
    font-weight: bold;
    margin-left: 20px;
    text-decoration: none;
}

.prod-button.delete:hover
{   color: red;
}

.prod-button.delete:active
{   color: white;
}

/*                                          */
/*  CSS style for the sticky footer         */
/*                                          */

body, html
{   height: 100%;
    min-height: 100%;
}

.wrapper
{   margin: 0px auto;
    margin-bottom: -50px;
    min-height: 100%;
    width: 95vw;
}

.push
{   height: 50px;
    margin: 0px;
    text-align: center;
    width: 100%;
}

footer
{   background: var(--bg-footer);
    color: var(--fg-footer);
    height: 30px;
    margin: 0px auto;
    margin-top: 20px;
    padding: 10px;
    width: 95vw;
}

/*                                          */
/*  @media queries for responsive design    */
/*                                          */

/* @media screen and (max-width: 700px)
{   body
    {   font-size: 2vw;
    }
}

@media screen and (max-width: 500px)
{   .field.quantity, .field.price
    {   display: none;
    }
} */
